@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  @apply bg-stone-300 dark:bg-zinc-900;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.unset {
  all: unset;
}
